<footer>
    <p>Contact:</p>
    <ul>
        <li>Telefon: 0712345678</li>
        <li>Email: <a href="angela_hondru@gmail.ro">angela_hondru@gmail.ro</a></li>
    </ul>
    Word Count Is: <span_wc></span_wc> <br>
    <a href="#">Inapoi la inceput</a> 
</footer>