<% if(!locals.username){  %>
		<form method="post" action="/login" > 
				<label>
					Username: <input type="text" name="username" value="">
				</label>
					<label>
					Parola: <input type="password" name="parola" value="">
				</label>
				<input type="submit" value="ok" />
		</form>
	<% } 
	else { %>
		User logat: <%= locals.username %>
		| <a href="/logout">Logout</a>
	<% } %>
<ul class="menu">
    <li class="menu-item" id="red">Red text</li>
    <li class="menu-item" id="black">Black text</li>
    <li class="menu-item" id="green">Green text</li>
    <li class="separator"></li>
    <li class="menu-item" id="small">Small Font</li>
    <li class="menu-item" id="medium">Medium Font</li>
    <li class="menu-item" id="large">Large Font</li>
    <li class="separator"></li>
    <li class="menu-item" id="inapoi_la_inceput">Inapoi la inceput</li>
</ul>
<header class="jumbotron text-center">
    <h1 class="animation">Angela Hondru</h1>
    <script src="Resurse/JavaScript/Title_animation.js"></script> 
    <figure id="animated-galery">
        <div id="animation_container">
            <div id="moving">
                <figure> <img src="Resurse/Imagini/Angela_Hondru_1.jpg" alt="Angela Hondru" height="203" title="Angela Hondru"> </figure>
                <figure> <img src="Resurse/Imagini/Angela_Hondru_2.jpg" alt="Angela Hondru" height="203" title="Angela Hondru"> </figure>
                <figure> <img src="Resurse/Imagini/Angela_Hondru_3.jpg" alt="Angela Hondru" height="203" title="Angela Hondru"> </figure>
            </div>
        </div>
    </figure>
    <aside><i style="color: #62aaa7;">niponolog, traducător, etnolog</i></aside>
</header>
<nav class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Principal <i class="fa fa-caret-down"></i> </button>
        <div class="dropdown-content">
            <ul>
                <li><a href="index#Descriere">Descriere</a></li>
                <li><a href="index#Stagii_de_cercetare">Stagii de cercetare</a></li>
                <li><a href="index#Premii_si_distinctii">Premii şi distincţii</a></li>
                <li><a href="index#Traduceri_din_limba_japoneza">Traduceri din limba japoneză</a></li>
                <li><a href="index#Traduceri_din_limba_engleza">Traduceri din limba engleză</a></li>
                <li><a href="index#Scenarii">Scenarii</a></li>
                <li><a href="index#Expozitii_de_fotografie_insotite_de_prelegeri">Expoziţii de fotografie însoţite de prelegeri</a></li>
                <li><a href="index#Repere">Repere</a></li>
            </ul>
        </div>
    </div>
    <a href="Carti_scrise">Cărţi scrise</a>
    <a href="Contact">Contact</a>
    <a href="Quiz">Quiz</a>
    <a href="Pret_Carti">Pret carti</a>
    <a href="Inregistrare">Inregistrare</a>
</nav>