<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Stoicescu Adrian">
        <meta name="description" content="Site Angela Hondru">
        <meta name="keywords" content="Angela, Hondru, Japonia, Centrul de Studii Romano-Japoneze,Centru, Studii, Romano-Japoneze">
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_animated_galery.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_Title_animation.css"/>
        <script src="Resurse/JavaScript/Word_count.js"></script>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_menu.css"/>
        <link rel="icon" href="Resurse/Imagini/japan.png" type="image/gif"/>
        <script src="Resurse/JavaScript/New_menu.js"></script>
        <title> Angela Hondru </title>
    </head>

<body class="container">

<%- include("../fragmente/header")  %>

<main>
    <div class="afisaj">
        <h1>Eroare 404</h1>
        <h2>Va rugam incercati din nou</h2>
    </div>
</main>


</body>
</html>  
