<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Stoicescu Adrian">
        <meta name="description" content="Site Angela Hondru">
        <meta name="keywords" content="Angela, Hondru, Japonia, Centrul de Studii Romano-Japoneze,Centru, Studii, Romano-Japoneze">
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_animated_galery.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_Title_animation.css"/>
        <script src="Resurse/JavaScript/Word_count.js"></script>
        <script src="Resurse/JavaScript/New_menu.js"></script>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_menu.css"/>
        <link rel="icon" href="Resurse/Imagini/japan.png" type="image/gif"/>
        <title> Angela Hondru </title>
    </head>

    <body id="box">
        <%- include("../fragmente/header")  %>
        <section class="middle">
            <h2>Ma puteti contacta direct prin:</h2>
            <ul>
                <li>Telefon: 0712345678</li>
                <li>Email: <a href="angela_hondru@gmail.ro">angela_hondru@gmail.ro</a></li>
            </ul>
        </section>
        <div class="middle">
            <table>
                <caption>
                    <strong>Intre aceste intervale este cel mai probabil sa raspund la telefon</strong>
                </caption>
                <thead>
                    <tr>
                        <th>Zile</th>
                        <th>Ore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luni</td>
                        <td>10-16</td>
                    </tr>
                    <tr>
                        <td>Marti</td>
                        <td>10-20</td>
                    </tr>
                    <tr>
                        <td>Miercuri</td>
                        <td>8-16</td>
                    </tr>
                    <tr>
                        <td>Joi</td>
                        <td>10-16</td>
                    </tr>
                    <tr>
                        <td>Vineri</td>
                        <td>15-18</td>
                    </tr>
                    <tr>
                        <td>Sambata</td>
                        <td>14-16</td>
                    </tr>
                    <tr>
                        <td>Duminica</td>
                        <td>-</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"><em>Nu raspund in timpul Sarbatorilor legale</em></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <%- include("../fragmente/footer")  %>
    </body>
</html>
