<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Stoicescu Adrian">
        <meta name="description" content="Site Angela Hondru">
        <meta name="keywords" content="Angela, Hondru, Japonia, Centrul de Studii Romano-Japoneze,Centru, Studii, Romano-Japoneze">
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_animated_galery.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_Quiz.css"/>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_Title_animation.css"/>
        <script src="Resurse/JavaScript/New_menu.js"></script>
        <link rel="stylesheet" type="text/css" href="Resurse/CSS/Style_menu.css"/>
        <link rel="icon" href="Resurse/Imagini/japan.png" type="image/gif"/>
        <title> Angela Hondru </title>
    </head>

    <body id="box">
        <%- include("../fragmente/header")  %>
        <div class="middle">
            <h2>Quiz despre Angela Hondru</h2>
            <div id="quiz"></div>
            <button id="submit">Get Results</button>
            <div id="results"></div>
            <script src="Resurse/JavaScript/Quiz.js"></script> 
        </div>
    </body>
</html>
